li{
    float: left;
    text-align: center;
    padding: auto;
}

.Current_E {
    display: grid;
    gap: 15px;
    background-color: #000000;
    padding: 5px;
}
  
.Current_E > div {
    text-align: left;
}

h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff59c7;
    font-size: small;
}