li{
    float: left;
    text-align: center;
    padding: auto;
}

body > header > nav > ul{
	display: block;
	font-size: 1.0em;
	color: white; 
	height: 100%;
}

a:link{
    color: blue;
    line-height: 2em;
}

a:hover{
    color: #60FBDC;
}

p{
    color: #ff59c7;
}

a:link{
    color: #ffa6fc;
    line-height: 2em;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-color: #ff59c7;
}

/*I will do the float method for the images on the other pages*/

/*I will make the textbox blue*/