li{
    float: left;
    text-align: center;
    padding: auto;
}

.Top3-container{
    color: #ff59c7;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    gap: 15px;
    background-color: #000000;
    padding: 5px;
    border: 1px solid #ff59c7;
}
